<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>

<h1>Login</h1>

<%= form_with model: @user, local: true do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.submit 'Login' %>
<% end %>

<!-- Adicionar link para recuperação de senha -->
<p>
  <%= link_to 'Esqueceu sua senha?', new_user_password_path %>
</p>

</body>
</html>
