<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>

<h1>Login</h1>

<%= form_for(@user, as: :user, url: session_path(:user)) do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email, autofocus: true %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.submit 'Login' %>
<% end %>

<!-- Adicionar link para recuperação de senha -->
<p>
<%= link_to 'Esqueceu sua senha?', forgot_password_path %>

  %>
</p>

</body>
</html>
