<h1><%= t('users.edit_password.title') %></h1>

<%= form_with(model: @user, url: update_password_user_path(@user), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :current_password, t('users.edit_password.current_password_label') %>
    <%= form.password_field :current_password, autocomplete: 'current-password' %>
  </div>

  <div class="field">
    <%= form.label :new_password, t('users.edit_password.new_password_label') %>
    <%= form.password_field :new_password, autocomplete: 'new-password' %>
  </div>

  <div class="field">
    <%= form.label :new_password_confirmation, t('users.edit_password.confirm_new_password_label') %>
    <%= form.password_field :new_password_confirmation, autocomplete: 'new-password' %>
  </div>

  <div class="actions">
    <%= form.submit t('users.edit_password.submit_button') %>
  </div>
<% end %>
