<h1>Alterar Senha</h1>

<%= form_with(model: @user, url: update_password_user_path(@user), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :current_password, 'Senha Atual' %>
    <%= form.password_field :current_password, autocomplete: 'current-password' %>
  </div>

  <div class="field">
    <%= form.label :new_password, 'Nova Senha' %>
    <%= form.password_field :new_password, autocomplete: 'new-password' %>
  </div>

  <div class="field">
    <%= form.label :new_password_confirmation, 'Confirme a Nova Senha' %>
    <%= form.password_field :new_password_confirmation, autocomplete: 'new-password' %>
  </div>

  <div class="actions">
    <%= form.submit 'Alterar Senha' %>
  </div>
<% end %>
