<h1>Cadastrar</h1>

<%= form_with model: @user, local: true do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :phone_number %>
  <%= form.text_field :phone_number %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>

  <%= form.submit 'Cadastrar' %>
<% end %>
