<h1><%= t('users.show.title', username: @user.username) %></h1>

<p><%= t('users.show.email_label') %>: <%= @user.email %></p>
<p><%= t('users.show.phone_label') %>: <%= @user.phone_number %></p>

<h2><%= t('users.show.user_posts_title') %></h2>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>

<%= link_to t('users.show.edit_profile_link'), edit_user_path(@user) %> |
<%= link_to t('users.show.edit_password_link'), edit_password_user_path(@user) %> |
<%= link_to t('users.show.back_link'), root_path %>
