<h1>Perfil de <%= @user.username %></h1>

<p>Email: <%= @user.email %></p>
<p>Número de telefone: <%= @user.phone_number %></p>

<h2>Posts do usuário</h2>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>

<%= link_to 'Editar Perfil', edit_user_path(@user) %>
<%= link_to 'Editar Senha', edit_password_user_path(@user) %>
<%= link_to 'Voltar', root_path %>
