<%= form_with(model: @user, url: reset_password_path, method: :patch) do |form| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :email, t('passwords.edit.email_label') %>
    <%= form.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password, t('passwords.edit.password_label') %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation, t('passwords.edit.password_confirmation_label') %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit t('passwords.edit.submit_button'), class: 'btn btn-primary' %>
  </div>
<% end %>
