<h2><%= t('passwords.verify_token.title') %></h2>

<%= form_tag validate_token_path do %>
  <div class="field">
    <%= label_tag :email, t('passwords.verify_token.email_label') %>
    <%= text_field_tag :email, params[:email], class: 'form-control' %>
  </div>

  <div class="field">
    <%= label_tag :token, t('passwords.verify_token.token_label') %>
    <%= text_field_tag :token, params[:token], class: 'form-control' %>
  </div>

  <%= submit_tag t('passwords.verify_token.submit_button'), class: 'btn btn-primary' %>
<% end %>
