<!DOCTYPE html>
<html>
<head>
  <title>Seu Blog</title>
</head>
<body>
<%= csrf_meta_tags %>

<nav>
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to "Meu Perfil", user_path(current_user) %></li>
      <li>
        <%= button_to 'Logout', logout_path, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
      </li>
    <% else %>
      <li><%= link_to "Login", login_path %></li>
      <li><%= link_to "Cadastrar-se", new_user_path %></li>
    <% end %>
  </ul>
</nav>

<h1>Lista de Posts</h1>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2><%= "#{post.title}#{' (editado)' if post.edited?}" %></h2>
    <p><%= truncate(strip_tags(post.content), length: 200) %></p>
    <p><%= link_to 'Ver mais', post %></p>
    <hr>
  <% end %>

  <%= will_paginate @posts %>
<% else %>
  <p>Ainda não há posts para mostrar. Seja o primeiro a criar um!</p>
<% end %>

<%= link_to 'Novo Post', new_post_path, class: 'btn btn-primary' if user_signed_in? %>

</body>
</html>
