<!DOCTYPE html>
<html>
<head>
  <title><%= t('posts.show.title', title: @post.title) %></title>
</head>
<body>
<%= csrf_meta_tags %>

<nav>
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to t('posts.show.my_profile'), user_path(current_user) %></li>
      <li>
        <%= button_to t('posts.show.logout'), logout_path, method: :delete, class: 'btn btn-danger', data: { confirm: 'Tem certeza?' } %>
      </li>
    <% else %>
      <li><%= link_to t('posts.show.login'), login_path %></li>
      <li><%= link_to t('posts.show.signup'), new_user_path %></li>
    <% end %>
  </ul>
</nav>

<h1><%= t('posts.show.title', title: @post.title) %></h1>

<p><%= @post.content %></p>
<p><%= t('posts.show.created_by', username: @post.user.username) %></p>
<p><%= t('posts.show.creation_date', date: @post.created_at.strftime('%d/%m/%Y %H:%M')) %></p>

<% if @post.updated_at != @post.created_at %>
  <p style="color: red;"><%= t('posts.show.edited') %></p>
<% end %>

<!-- Botão para apagar o post -->
<% if user_signed_in? && @post.user == current_user %>
  <%= button_to t('posts.show.delete_post'), @post, method: :delete, data: { confirm: t('posts.show.delete_post_confirmation') }, class: 'btn btn-danger' %>
<% end %>

<%= link_to t('posts.show.edit'), edit_post_path(@post) if user_signed_in? %>
<%= link_to t('posts.show.back'), posts_path %>

<h3><%= t('posts.show.tags_title') %></h3>
<ul>
  <% @post.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>

<h2><%= t('posts.show.comments_title') %></h2>

<% @post.comments.each do |comment| %>
  <div>
    <p><strong><%= comment.anonymous ? t('posts.show.anonymous') : comment.user.username %>:</strong> <%= comment.content %></p>
    <% if user_signed_in? && (comment.user == current_user) %>
      <%= form_for [@post, comment], method: :delete, remote: true, data: { confirm: t('posts.show.remove_comment_confirmation') } do |form| %>
        <%= form.submit t('posts.show.comment_button'), class: 'btn btn-danger btn-sm' %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if user_signed_in? %>
  <h3><%= t('posts.show.add_comment_title') %></h3>
  <%= form_with model: [@post, @post.comments.build] do |form| %>
    <%= form.text_area :content, placeholder: t('posts.show.comment_placeholder'), class: 'form-control' %>
    
    <!-- Checkbox para definir se o comentário é anônimo -->
    <%= form.check_box :anonymous %>
    <%= form.label :anonymous, t('posts.show.anonymous_comment') %>
    
    <%= form.submit t('posts.show.comment_button'), class: 'btn btn-primary mt-2' %>
  <% end %>
<% else %>
  <p><%= t('posts.show.login_to_comment') %></p>
<% end %>

</body>
</html>
